.section-why {
  background-color: lighten($clr-cyan, 5%);
  color: $clr-gray;
  padding: 2rem;
}

.section-why__list {
  color: lighten($color: $clr-cyan, $amount: 40%);
  font-size: 0.9em;
}

@media only screen and (min-width: 750px) {
  .section-why {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    padding: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .section-why {
    font-size: 2rem;
    padding: 8rem;
  }
}
