.section-why {
  background-color: lighten($clr-cyan, 5%);
  color: $clr-gray;
  padding: 2rem;
  border-radius: 0 0 10px 10px;
}

.section-why__list {
  color: lighten($color: $clr-cyan, $amount: 40%);
  font-size: 0.9em;
}

@media only screen and (min-width: 750px) {
  .section-why {
    grid-column: 2 / 3;
    border-radius: 0 0 10px 0;
  }
}
