body {
  font-family: ("Karla"), sans-serif;
  font-size: 16px;
  color: $clr-grayblue;
  font-weight: $fw-normal;
  line-height: 1.6;
}

h1 {
  font-size: 1.2em;
  font-weight: $fw-bold;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.1em;
  font-weight: $fw-bold;
  margin-bottom: 0.8rem;
}
